@import "../../../styles/_index.scss";

.btn {
  @include transition();
  cursor: pointer;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 100%;
  position: relative;
  border: 4px solid $pink;
  box-shadow: 2px 3px 7px rgba(0,0,0,0.1);
  &:after {
    @include transition();
    position: absolute;
    display: inline-block;
  }
  &:hover {
    background: $pink;
    &:after {
       @include btn_play(white);
    }
  }
  &.disabled {
    pointer-events:none;
    box-shadow: none;
    opacity: 0.2;
  }
}

.btn_play {
  composes: btn;
  &:after {
    @include btn_play($pink);
    display: block;
    width: 1.6rem;
    height: 2rem;
    top: calc(50% - 1rem);
    left: calc(50% - .6rem);
  }
}

.btn_play_orange {
  composes: btn_play;
  border: 4px solid $orange;
  &:hover {
    background: $orange;
  }
  &:after {
    @include btn_play($orange);
  }
}

.btn_play_green {
  composes: btn_play;
  border: 4px solid $green;
  &:hover {
    background: $green;
  }
  &:after {
    @include btn_play($green);
  }
}

.btn_stop {
  composes: btn;
  &:hover {
    &:after {
      content: '';
      background-color: white;
    }
  }
  &:after {
    @include align_center_center;
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    background-color: $pink;
    border-radius: .2rem;
  }
}

.btn_close {
  composes: btn;
  width: 3.2rem;
  height: 3.2rem;
  border: 2px solid $green;
  &:hover {
    background-color: $green;
    &:after {
       @include btn_close($white);
    }
  }
  &:after {
    @include align_center_center;
    @include btn_close($green);
    width: 1.4rem;
    height: 1.4rem;
  }
}













