@import "../../../styles/_index.scss";

a.label {
  @include transition();
  color: $pink;
  height: 7rem;
  line-height: 7rem;
  padding: 0 3.2rem;
  display: inline-block;

  &:before {
    content: '+';
    margin-right: 1.6rem;
    font-weight: 600;
  }
  &:hover {
    background-color: rgba($pink,0.2);
  }
}